<!-- {{#each comments as |comment|}}
  <div id="blog-comment" data-id="{{comment.id}}">
      <p>{{comment.comment}}</p>
      <p>Last Updated: {{comment.updated_at}}</p>
      {{#if comment.editable}}
        <span class="label label-danger del-comment" data-blogid="{{comment.blog_id}}" data-id="{{comment.id}}">Delete</span>
      {{/if}}
  </div>
{{/each}} -->

<div id="blog-comment" data-id="{{comment.id}}">
  <table class="table table-striped">
    <thead class="table-head">
      <tr>
        <th>#</th>
        <th>Comment</th>
        <th>Created</th>
        <th>Delete?</th>
      </tr>
    </thead>
    {{#each comments as |comment|}}
      <tbody>
        <th>{{comment.id}}</th>
        <th>{{comment.comment}}</th>
        <th>{{comment.updated_at}}</th>
        {{#if comment.editable}}
          <th><span class="label label-danger del-comment" data-blogid="{{comment.blog_id}}" data-id="{{comment.id}}">Delete</span></th>
        {{else}}
          <th><span class="label label-default del-disabled">Not Yours</span></th>
        {{/if}}
      </tbody>
    {{/each}}
  </table>
</div>
