<h1>Moody Lords</h1>
<br>
{{#each blogs as |blog|}}
  {{!-- <div>
      <div class="blog-item" data-id="{{blog.id}}">
        <div class="blog-info" data-id="{{blog.id}}">
          <ul class="deets" data-id="{{blog.id}}">
            <h4>{{blog.title}}<h4>
          </ul>
        </div>
        <div class="fields" data-id="{{blog.id}}">
          <pre>{{blog.body}}</pre>
          <p class="blog-time">Last Updated: {{blog.updated_at}}</p>
          <div class="show-hide-comments">
            <span class="label label-success show-blog-comments" data-id="{{blog.id}}">Show Comments</span>
            <span class="label label-info hide-blog-comments" data-id="{{blog.id}}">Hide Comments</span>
            {{#if blog.editable}}
              <span class="label label-danger del-blog" data-id="{{blog.id}}">Delete</span>
              <span class="label label-default edit-blog" data-id="{{blog.id}}">Edit</span>
            {{/if}}
            <span class="label label-default create-comment" data-id="{{blog.id}}">Comment</span>
          </div>
        </div>
      </div>
    <div>
    <div class="display-comments" data-id="{{blog.id}}"></div>
    <form class="form-check edit-blog-form" data-id="{{blog.id}}">
      <input data-id="{{blog.id}}" id="comment-input" class="form-control" type="text" value name="comment[comment]" required>
      <input type="hidden" name="comment[blog_id]" value="{{blog.id}}" required>
      <button type="submit" class="btn btn-success" data-id="{{blog.id}}">Comment</button>
    </form> --}}
    <div class="jumbotron blog-item" data-id="{{blog.id}}">
      <small class="blog-time">Last Updated: {{blog.updated_at}}</small>
      <h3 class="blog-title">{{blog.title}}</h3>
      <p><pre>{{blog.body}}</pre></p>
      <div class="show-hide-comments">
        <span class="label label-success show-blog-comments" data-id="{{blog.id}}">Show Comments</span>
        <span class="label label-info hide-blog-comments" data-id="{{blog.id}}">Hide Comments</span>
        {{#if blog.editable}}
          <span class="label label-danger del-blog" data-id="{{blog.id}}">Delete</span>
          <span class="label label-default edit-blog" data-id="{{blog.id}}">Edit</span>
        {{/if}}
        <span class="label label-default create-comment" data-id="{{blog.id}}">Comment</span>
      </div>
      <br>
      <form class="form-check edit-blog-form" data-id="{{blog.id}}">
        <input data-id="{{blog.id}}" id="comment-input" class="form-control" type="text" value name="comment[comment]" required>
        <input type="hidden" name="comment[blog_id]" value="{{blog.id}}" required>
        <button type="submit" class="btn btn-success" data-id="{{blog.id}}">Comment</button>
      </form>
      <br>
      <div class="display-comments" data-id="{{blog.id}}"></div>
    </div>

{{/each}}
