<div id="record-listing">
  <table class="table table-striped">
    <thead class="table-head">
      <tr>
        <th>Album</th>
        <th>Artist</th>
        <th>Press Date</th>
        <th>Price</th>
        <th>Purchase</th>
      </tr>
    </thead>

    {{#each records as |record|}}
      <tbody>
        <td>{{record.title}}</td>
        <td>{{record.artist}}</td>
        <td>{{record.press_date}}</td>
        <td>{{record.price}}</td>
        <td>
          <form class='add-record-cart' data-id="{{record.id}}">
            <input class="identifier hide" name="record[id]" type="text" value="{{record.id}}" readonly>
            <input class="title hide" name="record[title]" type="text" value="{{record.title}}" readonly>
            <input class="artist hide" name="record[artist]" type="text" value="{{record.artist}}" readonly>
            <input class="press_date hide" name="record[press_date]" type="text" value="{{record.press_date}}" readonly>
            <input class="price hide" name="record[price]" type="text" value="{{record.price}}" readonly>
            <button class="btn btn-success btn-xs buy-record" type="submit" data-id="{{record.id}}">Add To Cart</button><button class="btn btn-danger btn-xs remove-record hidden"data-id="{{record.id}}">Remove From Cart</button>
          </form>
        </td>
      </tbody>
    {{/each}}

  </table>
</div>
